*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    position: fixed;
   border: 2px solid antiquewhite;
    width: 100%;
    z-index: 99;
  
    background-color: white;
    display: flex;
}
.container{
    width: 95%;    
    margin: auto;
    flex-wrap: nowrap;
}
.list{
    float: left;
    width: 30%;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.logo{
    float: left;
    width: 30%;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin-left: 7% ;
    
}
.logo h1{
    text-align: center;
}
.cart{
    float: left;
    width: 30%;
    flex-grow: 1;
   flex-wrap: nowrap;
    text-align: right;
    margin-left: 2%;
    
}
.container-n{
    margin: auto;
    padding-top: 70px;
   
}
.slider{

  
    width: 1500px;
    overflow: hidden;
   
    
}

.slider ul{
    width: 7500px;
    list-style: none;
    position: relative;
    animation-name: sliding;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
   
}
.slider ul li{
    float: left;
  
}
@keyframes sliding{
    5%,10%{left:0}
    30%,35%{left: -1500px;}
    60%,65%{left: -3000px;}
    90%,95%{left: -4500px;}
    100%{left: -6000px;}
}




.collections{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 600px;
    margin-bottom: 200px;
}
.collection-img{
    margin-top: 100px;
}
.collections-item{
    transition: 0.5s ease-in-out;
    float: left;
    width: 48%;
    margin: 0;
    margin-top: 30px;
}
.collection-text{
    font-size: 30px;
}
.collection-para{
    font-size: 22px;
}
.collections-item:hover{
   transform: rotateX(40deg);
   color: brown;
}





.brands{
    display: block;
    margin: auto;
    width: 100%;
}
.brands-item{
    float: left;
    width: 29%;
    margin: 2%;
    background-color: white;
}
.brands-item img{
    margin: auto;
    display: block;
    background-color: white;
    transition: ease-in-out 0.5s;
}
.brands-item img:hover{
    transform: scale(1.1);
}


.swiper {
    width: 1500px;
    height: 500px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
   
    
    object-fit: cover;
  }


@media (max-width:1023px){
   
.collections,.brands{
    width: 1000px;
    
    margin-left: 200px;
}

.collection-img{
    width: 100%;
}
.swiper{
    width: 1500px;
}

}
@media (max-width:360px){
   
    .collections,.brands{
        width: 900px;
        
        margin-left: 100px;
    }
    .slider img{
        width: 800px;
    }
    
    .collection-img{
        width: 100%;
    }
    .swiper{
        width: 900px;
    }
    
    }
    @media (max-width:280px){
        
        .collections,.brands{
            width: 1000px;
            
            margin-left: 200px;
        }
        body{
            margin: auto;
        }
        
        .collection-img{
            width: 100%;
        }
        .swiper{
            width: 1500px;
        }
        
        }